.seccion-about {
  background-color: #f3dede;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 10px;
  border-radius: 10px;
}

.title-about {
  padding: 10px;
  margin-top: 90px;
  font-size: 2rem;
  text-align: left;
}

.about {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2rem;
  
}

.about-content {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2rem;
  
}

.text-container {
  flex: 2;
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.btn-aboutme{
  width: 120px;
  background-color: rgba(177, 160, 149, 1.000);
  border-radius: 1rem;
  margin:10px;

  transition: background-color 0.3s ease;
  color: white;
  text-align: center;
}
.text-container{
  color: rgb(101, 99, 99);
}
@media (max-width: 768px) {
  .about-content{
    display: flex;
    flex-direction: column;

  }
  .aboutme{
    margin-top: 0px;
  }
}