footer {
  
  margin-top: 80px;
}
  
  footer h2 {
    text-align: center; /* Centrar el título */
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  footer .contact {
    display: flex;
    justify-content: center; /* Centra los enlaces horizontalmente */ /* Espacio entre los enlaces */
    
  }
  
  footer .contact a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #000;
    font-size: 1rem;
    gap: 8px; 
    transition: transform 0.3s ease; 
    padding: 20px;
  }
  
  footer .contact a:hover {
    color: #0077b5; /* Cambia el color del texto al hacer hover */
    transform: scale(1.1);
  }
  
  footer .contact svg {
    width: 24px; /* Tamaño del icono */
    height: 24px;
  }
  