/* Contenedor principal - sin cambios */
.hero-section {
 
  padding-top: 80px; /* compensa el header fijo */

}
.hero-container {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

/* Contenedor de imagen - sin cambios 
.image-container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  margin-bottom: 1rem;
}

.availability {
  background-color: #d1d5db;
  color: #2d3748;
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
}*/

/* Modificamos el content-container */
.hero-content {
  width: 100%; /* Ocupa todo el ancho disponible */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 10px;
}

.description {
  max-width: 600px;
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 10px;
  color: #5b5d5b;
}

/* Nueva solución para social-links */
.social-links-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}
.social-links a svg {
  fill: #000; /* Color inicial de los iconos */
  transition: fill 0.3s ease; /* Transición suave del color */
}

.social-links a:hover svg {
  fill: #ff6600; /* Color de los iconos al pasar el ratón */
}

.cv-button {
  align-items: center;
  background-color: rgba(177, 160, 149, 1.000);
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
  transition: background-color 0.3s ease;
}

.cv-button:hover {
  background-color: rgb(171, 151, 137);
}

.cv-button a {
  text-decoration: none;
  color: #fff;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
  .hero-section {
    padding: 2.5rem 1rem 0; /* Ajuste del padding del contenedor principal para pantallas pequeñas */
  }
  
}
