/* Estilo para la sección */

  
  /* Contenedor principal para centrar imagen y texto */
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  
  /* Contenedor de la imagen */
  .image-container {
    position: relative;
  }
  
  .profile-image {
    width: 8rem; /* 32 en Tailwind */
    height: 8rem; /* 32 en Tailwind */
    border-radius: 50%;
    object-fit: cover;
    margin-top: -3rem; /* -mt-12 */
    border: 4px solid white;
  }
  
  /* Contenedor del texto */
  .content-container {
    
    border-radius: 1rem;
    width: 100%;
    margin-top: 2rem;
    padding: 3rem; /* p-12 en Tailwind */
    margin-bottom: 0.5rem; /* mb-2 */
  }
  
  /* Título */
  .title-hero {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem; /* text-3xl */
  }
  
  /* Subtítulo */
  .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem; /* text-xl */
    color: #7e7f7e;
    text-align: center;
}

/* Estilo del span availability */
.availability {
    background-color: #d1d5db;
    color: #2d3748;
    border-radius: 0.25rem;
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem; /* text-xs */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
  
  /* Descripción */
  .description {
    text-align: center;
    font-size: 0.875rem; 
    margin-top: 1rem;
    color: #5b5d5b;
  }
  
  /* Contenedor de los iconos sociales */
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  .social-links a {
    margin: 0 10px; /* Espaciado entre los íconos */
    color: inherit; /* Usar el color del texto, si lo prefieres */
    text-decoration: none; /* Eliminar subrayado */
    transition: transform 0.3s ease; /* Efecto de animación */
  }
  
  .social-links a:hover {
    transform: scale(1.1); /* Efecto de agrandar ligeramente al pasar el mouse */
  }
  
  /* Botón de descargar CV */
  .cv-button {
    display: flex;
    justify-content: center;

    background-color: #e2e8f0;
    border-radius: 1rem;
    padding: 0.3rem 0.7rem;
    transition: background-color 0.3s ease;
  }
  
  .cv-button:hover {
    background-color: #cbd5e0;
  }
  
  .cv-button a {
    text-decoration: none;
    color: inherit;
  }
  

  @media (max-width: 768px) {
    .subtitle {
        flex-direction: column; /* Cambia el layout a columna */
        align-items: center; /* Alinea los elementos al principio */
    }

    .availability {
        margin-top: 0.5rem; /* Añade espacio superior */
    }
}