.proyectos {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.title_works {
  padding-top: 7rem;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333;
}

.title_proyectos {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

/* Grid layout */
.grid {
  display: grid;
  gap: 2rem;
}

/* Card styling */
.card {
  
  overflow: hidden;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
  border-radius: 10px; /* Redondea solo las esquinas superiores */
  display: block;
}

.info {
  padding: 1.5rem;
  text-align: left;
  flex-grow: 1; /* Hace que el info ocupe el espacio restante */
  display: flex;
  flex-direction: column;
}

.info h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  flex-grow: 1; /* Hace que el párrafo ocupe el espacio disponible */
}

.btn {
  padding: 0.5rem 1.2rem;
  background-color: rgba(177, 160, 149, 1.000);
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  align-self: flex-start; /* Alinea el botón a la izquierda */
  margin-top: auto; /* Empuja el botón hacia abajo */
}

.btn:hover {
  background-color: rgb(171, 151, 137);
}

/* Grid responsive */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}