.proyectos {

	padding: 2rem ;
	max-width: 1200px;
	margin: auto;
  }
  .title_works{
	padding-top: 7rem;
	text-align: left;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 30px;
	color: #333;
  }
  .title_proyectos{
	text-align: left;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 20px;
	color: #333;
  }
  
  /* Aquí aplicamos el grid solo a las tarjetas */
  .grid {
	display: grid;
	gap: 2rem;
  }
  
  .card {
	border-radius: 1rem;
	overflow: hidden;
	transition: transform 0.2s ease;
  }
  
  .card:hover {
	transform: translateY(-5px);
  }
  
  .card img {
	width: 100%;
	object-fit: cover; 
	border-radius: 1rem;      /* Recorta y ajusta sin deformar */
	display: block;
  }
  
 .info {
	padding: 1.5rem;
	text-align: left;
}
  
  .info h3 {
	text-align: left;
	margin-bottom: 0.5rem;
	font-size: 1.3rem;
  }
  
  .info p {
	text-align: left;
	font-size: 1rem;
	color: #555;
	margin-bottom: 1rem;
  }
  
  .btn {
	padding: 0.5rem 1.2rem;
	background-color: #0077cc;
	color: white;
	text-decoration: none;
	border-radius: 0.5rem;
	transition: background-color 0.3s ease;
  }
  
  .btn:hover {
	background-color: #005fa3;
  }
  
  /* Grid en pantallas grandes */
  @media (min-width: 768px) {
	.grid {
		
		grid-template-columns: repeat(2, 1fr);
		
	}
	
  }
  