.about {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
}

.title-about {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.text-container {
  flex: 2;
}

.about-image {
  flex: 2;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.aboutme{
  width: 120px;
  background-color: #5555bf;
  border-radius: 1rem;
  padding: 0.3rem ;
  transition: background-color 0.3s ease;
  color: white;
  text-align: center;
}
.text-container{
  color: #303031;

}
/* Estilo de cada ítem */
.lista {
  list-style: circle;
  padding-left: 20px; /* Espacio para viñeta personalizada */
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .about-content{
    display: flex;
    flex-direction: column;

  }
  .aboutme{
    margin-top: 30px;
  }
}