  section {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .content img {
    width: 100vw;
    height: auto;
    display: block;
  }

  .btn-grad {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%)
  }
  .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #d3d2d2;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }