---
// src/pages/about.astro
import "../styles/about.css";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acerca de mí">
  
  <section class="seccion-about">
    <h2 class="title-about">Conóceme un poco más</h2>
  
    <div class="about">
      <!-- Descripción personal -->
      <article class="text-container">
        <p>
          Diseñador junior aprendiendo el mundo del diseñao UX/UI.
          Me defino como una persona curiosa, empatica y con una fuerte motivación por seguir aprendiendo y crecer profesionalmente. Me gusta ayudar a personas y si puedo realizar esas ideas a plasmar en un diseño, mejor aún.
          
    
        </p><br>
        <p>
          Mi camino profesional no ha sido lineal, y eso es parte de lo que me define. Estudié Desarrollo de Aplicaciones Web y trabajé brevemente como desarrollador junior en mi ciudad natal Quito. He tabajado en otros campos como en almacenes, de repartidos en cocina, campos muy alejados tanto de la infromática como del diseño, atraves de un curso de producción audiovisual, llegue a trabajar como auxiliar de produccion en Navarra y alrededores, es una gran experiencia trabajr en el cine y saber todo lo que con lleva una produccion cinematográfica ya sea grande o pequeña.

        </p><br>
        <p>
          He realizado cursos de diseño gráfico y diseño UX/UI. Me encanta la idea de crear experiencias digitales que sean intuitivas y agradables para los usuarios.
        </p>
      </article>
  
      <figure class="about-image">
        <img src="/Images/roma.jpeg" alt="roma" width="500" height="200"/>
      </figure>
    </div>
  </section>
  
  
</Layout>
