---
// src/pages/about.astro
import "../styles/about.css";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acerca de mí">
  
  <section class="about">
    <h2 class="title-about">Conóceme un poco más</h2>
  
    <div class="about-content">
      <!-- Descripción personal -->
      <article class="text-container">
        <p>
          Soy Marlon Rondal, diseñador UX/UI, y estoy iniciando mi camino como diseñador UX/UI.
          Me defino como una persona curiosa y con una fuerte motivación por seguir aprendiendo y crecer profesionalmente. Gracias a mi formación en diseño centrado en el usuario y en marketing digital y E-commerce. Quiero ayudar a personas y empresas a transformar ideas en soluciones intuitivas y con propósito. 
          
    
        </p><br>
        <p>
          Mi camino profesional no ha sido lineal, y eso es parte de lo que me define. Estudié Desarrollo de Aplicaciones Web y trabajé brevemente como desarrollador junior en Ecuador. Más adelante, desarrollé mi carrera en sectores como la logística y la producción audiovisual, participando como auxiliar en películas rodadas en Navarra. Esta etapa me enseñó el valor del trabajo en equipo, la planificación y la importancia de entender al público al que va dirigido un mensaje.

        </p><br>
        <p>
          Mi verdadera conexión con el diseño llegó cuando realicé el curso de UX Design de Google. Ese aprendizaje transformó mi forma de ver el mundo digital: entendí que el diseño no se trata solo de hacer cosas bonitas, sino de resolver problemas reales desde la empatía y la investigación. A partir de ahí, me sumergí en herramientas como Figma, Adobe XD y Visual Studio Code, y completé mi formación con estudios en Marketing Digital y Comercio Electrónico, encontrando grandes sinergias entre ambas disciplinas.
          
        </p><br>
        <p>
          Hoy me enfoco en crear productos funcionales, atractivos y, sobre todo, pensados para quienes los usan. Desde la investigación hasta el prototipado, busco que la tecnología sea más humana, más simple y más valiosa para todos.

        </p>
      </article>
  
      <figure class="about-image">
        <img src="/public/Images/roma.jpeg" alt="roma" width="500" height="200"/>
      </figure>
    </div>
  </section>
  
  
</Layout>
