---
// src/pages/about.astro
import "../styles/styleprojects.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyecto web MondPamplona">
  <!-- <section>

    <div class="content">
    

      <figure class="info">
        <img
          src="/Images/MondPamplona/Project Info.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>
      <figure class="image">
        <img
          src="/Images/MondPamplona/Project Image.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>
       <figure class="image">
        <img
          src="/Images/MondPamplona/About.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>
       <figure class="image">
        <img
          src="/Images/MondPamplona/Typography.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>
       <figure class="image">
        <img
          src="/Images/MondPamplona/Colours.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>

       <figure class="image">
        <img
          src="/Images/MondPamplona/Requirements.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>
       <figure class="image">
        <img
          src="/Images/MondPamplona/Responsive.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>
       <figure class="image">
        <img
          src="/Images/MondPamplona/Contact Info.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
        />
      </figure>
    </div>
  </section>-->
</Layout>
