---
// src/pages/about.astro
import "../styles/about.css";
import Layout from '../layouts/Layout.astro';
---

<Layout title="Acerca de mí">
  
  <section class="about">
    <h2 class="title-about">Diseñar una publicación en redes sociales
</h2>
  
    <div class="about-content">
      <!-- Descripción personal -->
      <article class="text-container">
        <p>
       Completé esta actividad como parte del Certificado de Carrera de Google en Marketing Digital y Comercio Electrónico, 
       diseñe una publicación para Instagram, para Nature's Pet 
       una empresa de alimentos y suministros para mascotas utilizando Canva, 
       como herramienta de diseño gráfico, la  publicaciones se adapto al objetivo y público objetivo de la campaña, 
       así como a la voz de marca de la empresa

    
        </p><br>
        <p>
       
        </p><br>
        <p>
          Se tomo como primera idea lo verde de la naturaleza  como  voz de la marca "Nature Pet's  
        </p><br>
        <p>
Mi función fue crear una publicidad, para atraer mas tráfico a la web, teniendo muy encuenta el publico objetivo, como las personas que se preocupan por los derechos de los animales, la sostenibilidad y la protección del medio ambiente. 

        </p>
      </article>
  
      <figure class="about-image">
        <img src="/Images/Diamascotas.jpg" alt="roma" width="500" height="200"/>
      </figure>
    </div>
  </section>
  
  
</Layout>
