---
// src/pages/about.astro
import "../styles/proyectosmarketing.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de mí">
  <section class="about">
    <h2 class="title-about">Diseño de Flyer para Mond Beauty Barber</h2>

    <div class="about-content">
      <!-- Descripción personal -->
      <article class="text-container">
        <p>
        Diseñé un flyer de depilación láser para la inauguración de Mond Beauty Barber en Pamplona, dirigido a personas que desean iniciarse en tratamientos de depilación. </p></br>
          <p> 
          Trabajé con Adobe Illustrator y Photoshop para convertir el brief en una pieza visual clara y atractiva, integrando la identidad de la marca.
        </p><br />
       
          La composición incluye:
       <ul>
            <li>Imágenes e iconografía: elegí fotos temáticas de alta calidad (close-ups y ambiente) y iconos homogéneos para comunicar beneficios de forma inmediata.</li>
            <li>Logotipo y marca: ubiqué el logo en posiciones destacadas respetando zona de seguridad.</li>
            <li>Llamada a la acción: diseñé un CTA destacado y directo para facilitar la reserva.</li>
            <li>Ajustes técnicos: preparé versiones para impresión y digital (CMYK/sRGB), con sangrado y archivos editables.</li>
        </ul>
        <p>
          Mi rol consistió en conceptualizar y ejecutar toda la pieza gráfica, asegurando que fuera visualmente atractiva y eficaz en su objetivo: incrementar la visibilidad del centro y 
          atraer a un público que valora el cuidado estético y la innovación en tratamientos de belleza.
        </p>
      </article>
        <img
          src="/Images/Estetica_laser.jpg"
          alt="Diseño de Publicación para Mond Beauty Barber"
          width="500"
          height="200"
        />
   
    </div>
  </section>
</Layout>
