---
// src/pages/about.astro
import "../styles/about.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de mí">
  <section class="about">
    <h2 class="title-about">Diseño de Publicación para Mond Beauty Barber</h2>

    <div class="about-content">
      <!-- Descripción personal -->
      <article class="text-container">
        <p>
          Para esta campaña, diseñé una publicación promocional destinada a
          atraer nuevos clientes al centro de estética Mond Beauty Barber,
          recientemente inaugurado en la ciudad de Pamplona. </p></br>
          <p> 
            Utilicé Adobe Illustrator y Photoshop como herramientas principales de diseño,
          adaptando el contenido visual y gráfico a la identidad visual de la
          marca y al perfil del público objetivo: personas interesadas en el
          cuidado personal y el bienestar corporal, especialmente aquellas que
          desean iniciarse en tratamientos como la depilación láser.
        </p><br />
        <p>
          La composición incluye:
         <ul>
  <li>Imágenes temáticas relacionadas con los servicios ofrecidos, seleccionadas cuidadosamente para generar conexión emocional con el público.</li>
  <li>Aplicación de la paleta de colores corporativa de Mond Beauty Barber, para mantener coherencia con la marca.</li>
  <li>Inclusión del logotipo en posición destacada, tanto en la parte delantera como trasera del diseño.</li>
  <li>Uso estratégico de iconografía para captar la atención y comunicar de forma clara y visual los beneficios del servicio.</li>
  <li>Un diseño equilibrado, moderno y profesional, alineado con la voz cercana y confiable de la empresa.</li>
</ul>


        </p><br />
        <p>
          Mi rol consistió en conceptualizar y ejecutar toda la pieza gráfica, asegurando que fuera visualmente atractiva y eficaz en su objetivo: incrementar la visibilidad del centro y 
          atraer a un público que valora el cuidado estético y la innovación en tratamientos de belleza.
        </p>
      </article>

      <figure class="about-image">
        <img
          src="/Images/Estetica_laser.jpeg"
          alt="roma"
          width="500"
          height="200"
        />
      </figure>
    </div>
  </section>
</Layout>
