---
// src/pages/about.astro
import Layout from '../layouts/Layout.astro';

import Iconfigma from '../components/icons/Iconfigma.astro'
import IconGithub from '../components/icons/IconGithub.astro'


import '../styles/projects.css';
---

<Layout title="Proyectos">
   <section class="proyectos">
    <h2 class="title_works">Proyectos UX/UI & Marketing Digital</h2>
  
    <!-- Este div envuelve las tarjetas y lleva la clase .grid -->
    <div class="grid">
      <div class="card">
        <img src="/Images/proyecto_1.png" alt="Refugio de animales">
        <div class="info">
          <h3>Planificador de refugio de animales</h3>
          <p>Diseño de producto digital centrado en la (UI/UX) | aplicado a una App movil y su página de Veb</p>
          <a href="/Documents/RefugioAnimales.pdf" class="btn">Saber más</a>
        </div>
      </div>
  
      <div class="card">
        <img src="/Images/proyecto_3.png" alt="Estética y Barbería">
        <div class="info">
          <h3>Centro de estética y peluqueria</h3>
          <p>Diseño de producto (UI/UX) Design | Mobile App</p>
          <a href="/Documents/BarberiaEstetica.pdf" class="btn">Saber más</a>
        </div>
      </div>
  
      <div class="card">
        <img src="/Images/proyecto_2.png" alt="Video tutoriales">
        <div class="info">
          <h3>Web Tutoriales de diseño gráfico</h3>
          <p>Diseño de producto (UI/UX) Design | Mobile App & Web responsive</p>
          <a href="/Documents/VideoTutoriales.pdf" class="btn">Saber más</a>
        </div>
      </div>
      <div class="card">
      <img src="/Images/Diamascotas.jpg" alt="Dia nacional de los animales">
      <div class="info">
        <h3>Proyecto de Marketing Digital</h3>
        <p>Diseñar una publicación en redes sociales</p>
        <a href="/MarketingProject" class="btn">Saber más</a>
      </div>
    </div>
    </div>
  </section>
  
  
</Layout>