---
import "../styles/about.css";
---

<section id="about">
  <p class="section_text_p1">Conoceme un poco más</p>
  <h2 class="title-about">Acerca de mí</h2>

  <div class="section-container">
    <!-- Artículo de la imagen de perfil -->
    <!-- <article class="section_pic-container">
      <img src="/Images/MARLONRONDALABOUT.webp" alt="Marlon Rondal" class="about-pic">
    </article> -->

    <!-- Artículo de los detalles sobre experiencia y educación -->
    <article class="about-details-container">
      <div class="about-containers">
        <!-- Artículo de experiencia -->
        <article class="details-container">
          <img src="../experience.png" alt="Experience icon" class="icon" />
          <h3>Experiencia</h3>
          <p>1 año como Desarrollador Front-end</p>
        </article>

        <!-- Artículo de educación -->
        <article class="details-container">
          <img src="../education.png" alt="Education icon" class="icon" />
          <h3>Educación</h3>
          <p>
            Grado superior<br />Mariana Sanz. Desarrollo de aplicaciones Web
          </p>
        </article>
      </div>

      <!-- Descripcion personal -->
      <article class="text-container">
        <p>
          Soy Marlon Rondal, diseñador de UX/UI con formación en desarrollo de
          aplicaciones web. Descubrí mi pasión por la experiencia de usuario a
          través de un curso de Google y desde entonces me ha fascinado crear
          soluciones que faciliten la vida a los usuarios. Me encanta llevar a
          cabo proyectos que ofrezcan una experiencia intuitiva y fluida. <p>Tengo
          habilidades en herramientas clave como Figma, Adobe XD, Photoshop,
          Illustrator, InDesign, Premiere Pro, además de conocimientos de HTML y
          CSS que me permiten integrarme fácilmente en equipos de desarrollo.
          </p><p>Más abajo puedes ver mis casos de estudio realizados en el curso de
          experiencia de usuario con Google, donde profundizo en la creación de
          productos centrados en las necesidades del usuario.</p>
        
      </article>
    </article>
  </div>
</section>
