---
import '../styles/about.css';
---
<section id="about">
  <p class="section_text_p1">Conoceme un poco más</p>
  <h2 class="title-about">Acerca de mí</h2>
  
  <div class="section-container">
    <!-- Artículo de la imagen de perfil -->
    <article class="section_pic-container">
      <img src="/public/Images/Marlon_rondal_about_section.jpg" alt="Marlon Rondal" class="about-pic">
    </article>
    
    <!-- Artículo de los detalles sobre experiencia y educación -->
    <article class="about-details-container">
      <div class="about-containers">
        <!-- Artículo de experiencia -->
        <article class="details-container">
          <img src="./public/experience.png" alt="Experience icon" class="icon">
          <h3>Experiencia</h3>
          <p>1 año como Desarrollador Front-end</p>
        </article>

        <!-- Artículo de educación -->
        <article class="details-container">
          <img src="./public/education.png" alt="Education icon" class="icon">
          <h3>Educación</h3>
          <p>Grado superior<br>Mariana Sanz. Desarrollo de aplicaciones Web</p>
        </article>
      </div>

      <!-- Descripcion personal -->
      <article class="text-container">
        <p>
          Soy Marlon Rondal un diseñador de UX/UI que estudio desarrollo de apliaciones Web
          que despues de tiempo descubir la experiencia de usuario a traves de un curso de Google
          y me encanto, me gustar crear proyectos que faciliten la vida a los usuarios.
        </p>
      </article>
    </article>
  </div>
</section>
