---
import "../styles/about.css";
---

<section class="about">
  <h2 class="title-about">Acerca de mi</h2>

  <div class="about-content">
    <!-- Descripción personal -->
    <article class="text-container">
      <p>
        Soy Marlon Rondal, diseñador UX/UI, y estoy iniciando mi camino como diseñador UX/UI.
        Me defino como una persona curiosa y con una fuerte motivación por seguir aprendiendo y crecer profesionalmente. 
        Gracias a mi formación en diseño centrado en el usuario y en marketing digital y E-commerce. 
        Quiero ayudar a personas y empresas a transformar ideas en soluciones intuitivas y con propósito.
      </p><br>
      <p>
        Mi camino profesional no ha sido lineal, y eso es parte de lo que me define. 
        Estudié Desarrollo de Aplicaciones Web y trabajé brevemente como desarrollador junior en Ecuador. 
        Más adelante, desarrollé mi carrera en sectores como la logística y la producción audiovisual...
      </p>
    </article>

    <figure class="about-image">
      <img src="/Images/roma.jpeg" alt="roma" width="500" height="200"/>
    </figure>
   
  </div>
  <div class="aboutme">
    <a href="/About">Acerca de mi</a>
  </div>
</section>