---
import "../styles/about.css";

---
<section class="seccion-about">
  <h2>Acerca de mí</h2>
    <div class="about">
       
      <!-- Descripción personal -->
      <article class="text-container">
        <p>
          Soy un diseñador junior con ganas de dominar el diseño UX/UI. Me considero una persona curiosa y empática, siempre buscando aprender y mejorar. Me encanta la idea de ayudar a la gente, y si puedo convertir sus ideas en diseños que funcionen, ¡mucho mejor!
          
    
        </p><br>
        <p>
          Mi trayectoria profesional no ha sido lineal, y eso forma parte de mi experiencia. Estudié Desarrollo de Aplicaciones Web y trabajé brevemente como desarrollador junior en mi ciudad natal, Quito. También he desempeñado puestos en sectores muy distintos a la informática y al diseño, como mozo de almacén, repartidor y en cocina. A través de un curso de producción audiovisual llegué a trabajar como auxiliar de producción en Navarra y sus alrededores; fue una gran experiencia: trabajar en cine me enseñó todo lo que conlleva una producción cinematográfica, tanto si es grande como si es pequeña.

        </p><br>
        <p>
          He realizado cursos de diseño gráfico y diseño UX/UI. Me encanta la idea de crear experiencias digitales que sean intuitivas y agradables para los usuarios.
        </p>
      </article>
        <img src="/Images/roma.jpeg" alt="Foto en Roma" width="500" height="200"/>
    </div>
  </section>

