---
import IconLinkedin from "./icons/IconLinkedin.astro";
import IconMail from "./icons/IconMail.astro";

import '../styles/footer.css';
---

<footer>
    <h2>Contacto</h2>
    <div class="contact">
        <a href="mailto:marlon.benavides23@gmail.com"><IconMail /> Marlon Rondal</a>
        <a href="https://www.linkedin.com/in/marlon-rondal"><IconLinkedin /> LinkedIn</a>
    </div>
</footer>