---
import '../styles/header.css';
import IconBehance from './icons/IconBehance.astro';
import IconMenu from './icons/IconMenu.astro';
import IconGithub from './icons/IconGithub.astro';
import IconClose from './icons/IconClose.astro';
import IconLinkedin from './icons/IconLinkedin.astro';
---

<header class="header">
  <div class="container">
   <!--<div class="image-container">
      <img src="/Images/Marlon_rondal.webp" class="profile-image" />
       <a href="/" class="logo"></a>
    </div>  --> 
     
      
      <!-- Menú para desktop -->
      <nav class="desktop-menu">
          <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/Works">Trabajos</a></li>
              <li><a href="/Documents/CV_Marlon Rondal.pdf">CV</a></li>
          </ul>
         
      </nav>
      <ul class="social-icons">
              <li><a href="https://github.com/marlonrondal" target="_blank" aria-label="GitHub">
            <IconGithub /></a></li>
          
          <li><a href="https://www.linkedin.com/in/marlon-rondal/" target="_blank" aria-label="LinkedIn">
            <IconLinkedin />
          </a></li>
          <li><a href="https://www.behance.net/marlon-rondal" target="_blank" aria-label="Behance">
            <IconBehance /></a></li>
          
        </ul>
       
      
      <!-- Botón del menú hamburguesa -->
      <button class="hamburger-btn" aria-label="Menú">
        <IconMenu/>
      </button>
      
      <!-- Menú móvil (oculto por defecto) -->
      <nav class="mobile-menu">
          <button class="close-btn" aria-label="Cerrar menú">
              <IconClose/>
          </button>
          <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/Works">Trabajos</a></li>
              <li><a href="/About">About</a></li>
              <li><a href="/Documents/CV_Marlon Rondal.pdf">CV</a></li>
          </ul>
           <ul class="social-icons-mobile">
              <li><a href="https://github.com/marlonrondal" target="_blank" aria-label="GitHub">
            <IconGithub /></a></li>
          
          <li><a href="https://www.linkedin.com/in/marlon-rondal/" target="_blank" aria-label="LinkedIn">
            <IconLinkedin />
          </a></li>
          <li><a href="https://www.behance.net/marlon-rondal" target="_blank" aria-label="Behance">
            <IconBehance /></a></li>
          
        </ul>
      </nav>
     
      
      <!-- Overlay para cuando el menú móvil está abierto -->
      <div class="overlay"></div>
  </div>
</header>