---
import Badge from "../components/Badge.astro";
import IconGithub from "./icons/IconGithub.astro";
import IconLinkedin from "./icons/IconLinkedin.astro";
import IconBehance from "./icons/IconBehance.astro";

import "../styles/hero.css";
---

<section class="hero-section">
  <div class="hero-container">
   <div class="image-container">
      <img src="/Images/Marlon Rondal.jpg" class="profile-image" />
    </div>
    
    <div class="hero-content">
      <h1 class="title">Marlon Rondal</h1>
      <h2>Idea Crea y Dise침a</h2>
      <p class="description">
        Soy Marlon Rondal, dise침ador UX/UI, y estoy iniciando mi camino como dise침ador UX/UI. 
        Me defino como una persona curiosa y con una fuerte motivaci칩n por seguir aprendiendo y crecer profesionalmente.
      </p>
      <div class="cv-button">
          <a href="/Documents/CV_Marlon Rondal.pdf">Descargar CV</a>
        </div>
      
        <!-- <div class="social-links-container">
        <div class="cv-button">
          <a href="/Documents/CV_Marlon Rondal.pdf">Descargar CV</a>
        </div>
        <div class="social-links">
          <a href="https://github.com/marlonrondal" target="_blank" aria-label="GitHub">
            <IconGithub />
          </a>
          <a href="https://www.linkedin.com/in/marlon-rondal/" target="_blank" aria-label="LinkedIn">
            <IconLinkedin />
          </a>
          <a href="https://www.behance.net/marlon-rondal" target="_blank" aria-label="Behance">
            <IconBehance />
          </a>
        </div>
      </div>-->
    </div>
  </div>
</section>
