---
import Badge from '../components/Badge.astro';
import IconGithub from './icons/IconGithub.astro';
import IconLinkedin from './icons/IconLinkedin.astro';
import IconBehance from './icons/IconBehance.astro';

import '../styles/hero.css';
---
<section class="profile-section">
  <!-- Contenedor para centrar imagen y texto -->
  <div class="profile-container">
    <!-- Imagen posicionada por encima del contenido -->
    <div class="image-container">
      <img src="/public/Images/MARLONRONDAL.webp" class="profile-image" />
    </div>
    <!-- Contenido del texto -->
    <div class="content-container">
      <h1 class="title-hero">Dise침ador UX/UI</h1>
      <h2 class="subtitle">
        Hola, Soy Marlon Rondal
        <span class="availability">Disponibilidad para trabajar</span>
      </h2>
      <h2 class="description">
        Me apasiona mejorar la interacci칩n entre los usuarios y los productos digitales, asegur치ndose de que cada experiencia sea intuitiva, accesible y agradable. 
        Quiero crear dise침os atractivos y accesibles para todos.
      <div class="social-links">
        <IconGithub />
        <IconLinkedin />
        <IconBehance />
      </div>
    </div>
    <div class="cv-button">
      
      <a href="/Documents/CV-MARLON-RONDAL.pdf">Descargar CV</a>
    </div>
  </div>
</section>

  

