---
import Badge from "../components/Badge.astro";
import IconGithub from "./icons/IconGithub.astro";
import IconLinkedin from "./icons/IconLinkedin.astro";
import IconBehance from "./icons/IconBehance.astro";

import "../styles/hero.css";
---

<section class="profile-section">
  <!-- Contenedor para centrar imagen y texto -->
  <div class="profile-container">
    <!-- Imagen posicionada por encima del contenido -->
    <div class="image-container">
      <img src="/Images/Marlon_rondal.webp" class="profile-image" />
    </div>
    <!-- Contenido del texto -->
    <div class="content-container">
      <h1 class="title-hero">Marlon Rondal</h1>
      <h2 class="subtitle">
        
      </h2>
      
        <p class="description">
          Soy Marlon Rondal, diseñador UX/UI con formación certificada por Google en Experiencia de Usuario y Marketing Digital. Me apasiona crear experiencias digitales accesibles, intuitivas y centradas en las personas. Gracias a mi doble enfoque en diseño y estrategia digital, puedo diseñar soluciones que no solo son visualmente atractivas, sino también alineadas con los objetivos de negocio</p>
          <span class="availability">Disponibilidad para trabajar</span>
          <div class="social-links">
          <a href="https://github.com/marlonrondal" target="_blank" aria-label="GitHub">
            <IconGithub />
          </a>
          <a href="https://www.linkedin.com/in/marlon-rondal/" target="_blank" aria-label="LinkedIn">
            <IconLinkedin />
          </a>
          <a href="https://www.behance.net/marlon-rondal" target="_blank" aria-label="Behance">
            <IconBehance />
          </a>
        </div>
    </div>
    <div class="cv-button">
      <a href="/Documents/CV_Marlon_Rondal.pdf">Descargar CV</a>
    </div>
  </div>
</section>
