---
import Badge from "../components/Badge.astro";
import IconGithub from "./icons/IconGithub.astro";
import IconLinkedin from "./icons/IconLinkedin.astro";
import IconBehance from "./icons/IconBehance.astro";

import "../styles/hero.css";
---

<section class="profile-section">
  <!-- Contenedor para centrar imagen y texto -->
  <div class="profile-container">
    <!-- Imagen posicionada por encima del contenido -->
    <div class="image-container">
      <img src="/Images/Marlon_rondal.webp" class="profile-image" />
    </div>
    <!-- Contenido del texto -->
    <div class="content-container">
      <h1 class="title-hero">Diseñador UX/UI</h1>
      <h2 class="subtitle">
        Hola, Soy Marlon Rondal
        <span class="availability">Disponibilidad para trabajar</span>
      </h2>
      
        <p class="description">
        Me encanta mejorar la manera en que las personas interactúan con los
        medios digitales, haciendo que cada experiencia sea fácil,
        accesible y agradable. Mi meta es crear diseños que no solo sean
        atractivos, sino tambien funcionales, sin importar quién los use.</p>
        <div class="social-links">
          <a href="https://github.com/marlonrondal" target="_blank" aria-label="GitHub">
            <IconGithub />
          </a>
          <a href="https://www.linkedin.com/in/marlon-rondal/" target="_blank" aria-label="LinkedIn">
            <IconLinkedin />
          </a>
          <a href="https://www.behance.net/marlon-rondal" target="_blank" aria-label="Behance">
            <IconBehance />
          </a>
        </div>
      
      
    </div>
    <div class="cv-button">
      <a href="/Documents/CV Marlon Rondal Benavides.pdf">Descargar CV</a>
    </div>
  </div>
</section>
