---
import { initTextInteractive } from '../js/textInteractive.js';
import "../styles/hero.css";
---
<layout>
<section class="w-full min-h-screen flex items-center  bg:white justify-center px-6">
  <h2 class="w-full text-center text-5xl md:text-5xl font-bold leading-tight gradient-text">
    Bienvenido, soy Marlon Rondal, diseñador UX/UI.
  </h2>
</section>

<script>
  import { initTextInteractive } from '../js/textInteractive.js';
  initTextInteractive();
</script>
</layout>