---
import Iconfigma from '../components/icons/Iconfigma.astro'
import IconGithub from '../components/icons/IconGithub.astro'


import '../styles/projects.css';

---
<section class="wrapper" id="hero">
  <p>Navega por mis</p>
  <h2 class="title">Proyectos</h2>
  <div class="card">
    <img src="/iPhone 16.jpg" alt="">
    <div class="info">
      <h1>App Planificador de refugio de animales</h1>
      <p>App que te ayuda a localizar la mejor ubicacion para un nuevo refugio de animales.
        que te seran de gran ayuda.
      </p>
      <!-- <div class="icons">
        <Iconfigma/>
        <IconGithub/>
      </div> -->
      <a href="/Documents/RefugioAnimales.pdf" class="btn">Saber más</a>
    </div>
  </div>
  <div class="card">
    <img src="/MacBook_Air.jpg" alt="">
    <div class="info">
      <h1>Tutoriales de videos de diseño gráfico </h1>
      <p>Visualización de tutoriales de videos de diseño gráfico y otros videos de fotografia video que ayudan a complementar el aprendizaje </p>
      <!-- <div class="icons">
        <Iconfigma/>
        <IconGithub/>
      </div> -->
      
      <a href="/Documents/VideoTutoriales.pdf" class="btn">Saber más</a>
    </div>
  </div>
  <div class="card">
    <img src="/iPhone 15.jpg" alt="">
    <div class="info">
      <h1>App de Estética & Barbería </h1>
      <p>App para reserva citas en un centro de Estética y Barbería</p>
      <!-- <div class="icons">
        <Iconfigma/>
        <IconGithub/>
      </div> -->
      
      <a href="/Documents/BarberiaEstetica.pdf" class="btn">Saber más</a>
    </div>
  </div>
</section>