---
import Iconfigma from '../components/icons/Iconfigma.astro'
import IconGithub from '../components/icons/IconGithub.astro'
import IconGoogle from '../components/icons/IconGoogle.astro'

import '../styles/projects.css';

---
<section class="wrapper">
  <p>Navega por mis</p>
  <h2 class="title">Proyectos</h2>
  <div class="card">
    <img src="/public/caso1.svg" alt="">
    <div class="info">
      <h1>Planificado de refugio de animales</h1>
      <p>App de la mejor ubicacion para un refugio de animales</p>
      <div class="icons">
        <Iconfigma/>
        <IconGithub/>
      </div>
      
      <a href="/public/plan_de_refugio.pdf" class="btn">Saber más</a>
    </div>
  </div>
  <div class="card">
    <img src="/public/caso2.svg" alt="">
    <div class="info">
      <h1>Visualización de videos </h1>
      <p>Visualización de videos para diseño gráfico</p>
      <div class="icons">
        <Iconfigma/>
        <IconGithub/>
      </div>
      
      <a href="#" class="btn">Saber más</a>
    </div>
  </div><div class="card">
    <img src="/public/caso3.svg" alt="">
    <div class="info">
      <h1>Reserva cita </h1>
      <p>App para reserva de citas de estética y peluquería</p>
      <div class="icons">
        <Iconfigma/>
        <IconGithub/>
      </div>
      
      <a href="#" class="btn">Saber más</a>
    </div>
  </div>
 

</section>