---
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/abril-fatface';
import '@fontsource-variable/open-sans';



interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script src="../scripts/script.js" type="module"></script>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		
		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: #ffffff;
		
	}
	*,
	::after,
	::before{
		margin:0;
		
	}

	html {
		font-family: 'Open Sans Variable','Abril Fatface ';
		font-weight: 400;
	}
	body{
		
		background: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: center;	
	}
	h3{
		font-weight: 600;
	}
	


