---
import Proyectos from '../components/proyectos.astro';
import Header from '../components/header.astro';
import Hero from '../components/hero.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<Hero/>
		<About/>
		<Proyectos/>
		<Footer/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: #ffffff;
	}
	*,
	::after,
	::before{
		margin:0;
		
	}
	html {
		font-family: monospace,system-ui, sans-serif;
		
		
	
		
	}
	body{
		background: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: center;	
    
	}
	


